<div>
  Loading... 
  You must have Pallas extension installed - talk to your admin
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      
      const email = "{{email}}"; 
      const msg = {
        origin: "IDP", 
        action: "VALIDATE",
        data: { email }
      };

      console.log("setting timeout ....");
      setTimeout(() => { // TODO: test removal of this
        console.log("posting message: ", msg);
        window.postMessage(msg, "*");
      }, 1000);
    });
  </script>
</div>