<div>
  loading...
  <script src="/dist/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      console.log("posting message");
      window.postMessage({
        origin: "IDP", action:
          "AUTH"
      }, "*")
    })
  </script>
</div>