<div>
  Loading... 
  You must have Pallas extension installed - talk to your admin
  <script src="/dist/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      console.log("setting timeout ....");
      // give the content script listener time to attach
      const email = "{{email}}"; // Handlebars syntax to insert email from the backend or frontend context.
      const msg = {
          origin: "IDP", 
          action: "VALIDATE",
          data: {email}
        }
      setTimeout(() => {
        console.log("posting message: ", msg);
        window.postMessage(msg, "*")
      }, 1000)
    })
  </script>
</div>