<div>
  Loading... 
  You must have Pallas extension installed - talk to your admin
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      
      const email = "{{email}}"; 
      const msg = {
        origin: "IDP", 
        action: "VALIDATE",
        data: { email }
      };

      console.log("setting timeout ....");
      // without this, it immedaitely posts message and the content script may or may not have been properly injected into the page yet
      // there might be a better way to handle this but setting delay works
      setTimeout(() => { 
        console.log("posting message: ", msg);
        window.postMessage(msg, "*");
      }, 1000);
    });
  </script>
</div>